<?xml version="1.0"?>
<configuration>

  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>
  </configSections>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Simple.TraceLoggerFactoryAdapter, Common.Logging">
        <arg key="level" value="DEBUG"/>
        <arg key="showLogName" value="true"/>
        <arg key="showDataTime" value="true"/>
        <arg key="dateTimeFormat" value="yyyy/MM/dd HH:mm:ss:fff"/>
      </factoryAdapter>
    </logging>
  </common>
  
  <appSettings>
    <!-- 背景图片路径 -->
    <add key="path_background_image" value="D:\repos\github-migocorp\event-checkin\src\pic\tmp_checkin_kv.jpg"/>
    <!-- 是否为问卷交回模式 -->
    <add key="mode_survey_return" value="false"/>
    <!-- 数据库连线 -->
    <add key="db_conn_str" value="Data Source=127.0.0.1;User ID=dev_tester;Password=1234;Initial Catalog=dev_event;"/>
    <!-- 导出会后 excel 报告的目录 -->
    <add key="dir_export" value="D:\data_export\"/>
    <!-- 程序标题 -->
    <add key="app_title" value="REDHAT 2013"/>
  </appSettings>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
